@model JobMe.Web.Mvc.Models.JobOfferDetailsViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Job offer</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Requester)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Requester)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PublishedOn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PublishedOn)
        </dd>

    </dl>
</div>

<table class="table">
    <tr>
        <th>
            From
        </th>
        <th>
            To
        </th>
        <th>
            Subject
        </th>
        <th>
            Date
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.Responses)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.From)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.To)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Subject)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>@Html.ActionLink("Message details", "MessageDetails", new { id=item.MessageId }) |
                @Html.ActionLink("Back to List", "Index")
            </td>
        </tr>
    }
    </table>

    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
